body {
	font-family: 'Arial';
	font-size: 16px;
	margin: 0;
}

header, main {
	margin: 0 auto;
	width: 600px;
}

header {
	margin-bottom: 40px;
}

label {
}

input[type='text'] {
	border: 1px solid #999;
	font-family: 'Arial';
	font-size: 16px;
	padding: 5px;
}