<!doctype html>
<html ng-app>
<head>
<!-- inject:css -->
<!-- endinject -->
</head>
<body>

	<header>
		<div class="container">
			<h1>Demo 4 : Page Tabs with Angular directives</h1>
		</div>
	</header>

	<nav>
		<div class="container">
			<ul class="tabs" ng-init="tab = 'content-1'">
				<li ng-class="{'active': tab == 'content-1'}" ng-click="tab = 'content-1'">Tab 1</li>
				<li ng-class="{'active': tab == 'content-2'}" ng-click="tab = 'content-2'">Tab 2</li>
				<li ng-class="{'active': tab == 'content-3'}" ng-click="tab = 'content-3'">Tab 3</li>
				<li ng-class="{'active': tab == 'content-4'}" ng-click="tab = 'content-4'">Tab 4</li>
			</ul>
		</div>
	</nav>

	<main>
		<div class="container">
			<div class="tab-content" ng-class="{'active': tab == 'content-1'}">
				<h1>1</h1>
			</div>
			<div class="tab-content" ng-class="{'active': tab == 'content-2'}">
				<h1>2</h1>
			</div>
			<div class="tab-content" ng-class="{'active': tab == 'content-3'}">
				<h1>3</h1>
			</div>
			<div class="tab-content" ng-class="{'active': tab == 'content-4'}">
				<h1>4</h1>
			</div>

		</div>

	</main>


<!-- inject:js -->
<!-- endinject -->

</body>
</html>
